.git/
.github/
.env
.env.production
**/.env*
**/node_modules/
**/build/
**/__pycache__/
**/.pytest_cache/
**/.hypothesis/
data/
backups/
old_db/
databases/
archived_files/
Contract/
isotests/
example_files/
*.log
.DS_Store
