/* src/RankingTile.css */
.ranking-tiles {
    display: grid;
    grid-template-rows: auto auto;
    gap: 2px;
    margin: 0;
}

.tile-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.ranking-tile {
    background-color: #860037;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    width: auto;
    height: auto;
    flex-shrink: 0;
    color: white;
}

.ranking-tile:hover {
    transform: scale(1.05);
}

.tile-link {
    display: inline-block;
    margin-top: 5px;
    padding: 6px 10px;
    background-color: #860037; /* Background color for dark mode */
    color: white;
    border: 1px solid #ffffff; /* White border for contrast */
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.tile-link:hover {
    background-color: #6F0023; /* Hover background color */
    color: white; /* Ensure text color is still visible */
    border-color: #f0f0f0; /* Slightly lighter border on hover */
}
