/* Light mode */
.team-table-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    max-height: 500px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    color: #333;
}

.team-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background-color: #eaeaea;
    font-weight: bold;
    position: sticky;
    top: 55px;
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: left;
    color: #333;
}

.team-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    align-items: center;
    background-color: #ffffff;
}

.team-row:hover {
    background-color: #f5f5f5;
}

.team-table span {
    padding: 5px;
    text-align: left;
}