nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #860037;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    border: 1px solid #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-label {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 6px 12px;
    border: 1px solid #ffffff;
    background-color: #860037;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-right: 15px; /* Space between label and first link */
}

.nav-label:hover {
    background-color: #6F0023;
    border-color: #f0f0f0;
}

nav a {
    display: inline-block;
    padding: 6px 10px;
    color: white;
    background-color: #860037;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

nav a:hover {
    background-color: #6F0023;
    border-color: #f0f0f0;
    text-decoration: none;
}
