:root {
    --background-color: #ffffff; /* Light theme background */
    --text-color: #000000; /* Light theme text color */
}

[data-theme='dark'] {
    --background-color: #121212; /* Dark theme background */
    --text-color: #ffffff; /* Dark theme text color */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
